# Configuration of the scorpion service
scorpion:
  # Configuration of clients
  clients:
    # Configuration of the aster client
    aster:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10110

    # Configuration of the daisy client
    daisy:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10810

    # Configuration of the jasmine client
    jasmine:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10620

    # Configuration of the lotus client
    lotus:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10230

    # Configuration of the magnolia client
    magnolia:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10720

    # Configuration of the poppy client
    poppy:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10410

    # Configuration of the tulip client
    tulip:
      # Secret of the client
      secret: secret

      # Public URL
      url: http://localhost:10530

  # Configuration of the crocus app
  crocus:
    # Configuration of the public site of the crocus app
    public:
      # Host of the public site
      host: localhost

      # Path of the public site
      path: ""

      # Port of the public site
      port: 20020

      # Scheme of the public site
      scheme: http

  # Enable debug mode
  debug: true

  # Configuration of the diamond database
  diamond:
    # Configuration of the SQL API of the diamond database
    sql:
      # Host of the SQL API
      host: diamond.diamond.svc.cluster.local

      # Password to authenticate with the SQL API
      password: password

      # Port of the SQL API
      port: 20010

  # Configuration of the secrets
  secrets:
    # Cookie secrets
    cookie:
      - secretsecretsecret

    # System secrets
    system:
      - secretsecretsecret

  # Configuration of the server
  server:
    # Ports to listen on
    ports:
      # Port to listen on for admin traffic
      admin: 20001

      # Port to listen on for public traffic
      public: 20000

  # Configuration of the URLs
  urls:
    # Admin URL
    admin: http://localhost:20001

    # Issuer URL
    issuer: http://localhost:20000

    # Public URL
    public: http://localhost:20000

# Configuration of the service
service:
  # Ports to listen on
  ports:
    # Port to listen on for admin traffic
    admin: 20001

    # Port to listen on for public traffic
    public: 20000
